name: CI

on:
  pull_request:
  push:
    branches: [master]

permissions:
  contents: read

env:
  NODE_VERSION: 24

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v6
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: pnpm

      - run: pnpm install --frozen-lockfile
      - run: pnpm format
      - run: pnpm lint
      - run: pnpm typecheck
      - run: pnpm test
